.start-page {
    background-color: #122023;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    width: 800px; /* Increased width */
    margin-bottom: 70px; /* Increased space below the logo */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Increased space between buttons */
  }
  
  .start-button {
    background-color: #E0DBC6;
    color: #122023;
    border: none;
    border-radius: 25px; /* Make the buttons round */
    padding: 30px 60px; /* Increased padding */
    font-size: 30px; /* Increased font size */
    font-style: italic; /* Italicize text */
    font-family: 'DM Serif Text', serif; /* Apply DM Serif Text font */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #d5d0ba; /* Slightly darker shade for hover effect */
  }
  